<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CSM Page</title>
    <link rel="stylesheet" href="css/blogs.css">
</head>

<body>
    <div class="header">
        <h1>CSM</h1>
    </div>

    <div class="navbar">
        <a href="/">HomePage</a>
        <a href="/createBlog">CreateBlog</a>
    </div>

    <div class="card-container">
        <% if (allblogs.length==0) {%>
            <h1>! No Blogs Found !</h1>
            <% }else{ %>
                <% allblogs.forEach((eachBlog)=>{ %>
                    <div class="card">
                        <div class="card-title"><%- eachBlog.title%></div>
                        <div class="card-subtitle"><%- eachBlog.subTitle %></div>
                        <div class="card-description"><%- eachBlog.description%></div>
                        <a href="/blog/<%-eachBlog.id%>">Read More</a>
                    </div>
                    <% }) %>
                        <%}%>
                        
    </div>
    <%- include("components/Footer") %>
</body>

</html>