<!DOCTYPE html>
<html>

<head>
    <title>Create Content</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

      
        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        h2 {
            font-size: 20px;
            margin-bottom: 10px;
        }

        p {
            line-height: 1.6;
            margin-bottom: 20px;
        }

        input[type="text"],
        textarea {
            width: 96%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .container a {
            color: #c5682e;
            text-decoration: none;
        }

        .container a:hover {
            color: #0ec2a1;
        }

        button {
            background-color: #444444;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            justify-content: center;

        }

        button:hover {
            background-color: #1b1b1b;
        }
    </style>
</head>

<body>
    <%- include("components/navbar") %>
    <div class="container">
        <form action="/editBlog/<%- blog[0].id%>" method="post">
            <h2>Title</h2>
            <input type="text" value="<%- blog[0].title%>" name="title" required>

            <h2>Subtitle</h2>
            <input type="text" value="<%- blog[0].subTitle%>" name="subTitle" required>

            <h2>Description</h2>
            <textarea name="description" rows="4" required><%- blog[0].description%></textarea>

            <button type="submit">Save Blog</button>
            <button><a href="/">Cancel</a> </button>
        </form>
        
    </div>
    <%- include("components/Footer") %>
</body>

</html>