<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        .blog-title {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        
        .blog-subtitle {
            font-size: 20px;
            color: #555;
            margin-bottom: 10px;
        }

        .blog-description {
            font-size: 16px;
            line-height: 1.5;
        }

        .container a{
            color: #c5682e;
            text-decoration: none;
        }
        .container a:hover{
            color: #0ec2a1;
        }


        button {
            transition: color 0.3s;
            background-color: #444444;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            justify-content: center;

        }

        button:hover {
            background-color: #222323;
        }
    </style>
</head>

<body>
    <%- include("components/navbar") %>

    <div class="container">
        <div class="blog-title"><%- singleBlog[0].title%></div>
        <div class="blog-subtitle"><%- singleBlog[0].subTitle%></div>
        <div class="blog-description"><%- singleBlog[0].description%></div>
        <button><a href="/delete/<%- singleBlog[0].id %>">Delete</a> </button>
        <button><a href="/edit/<%- singleBlog[0].id %>">Edit</a> </button>
    </div>
    <%- include("components/Footer") %>
</body>

</html>